{% extends 'page/base.html' %}
{% load static %}

{% block content %}


<div style="padding:20px;margin-top:30px;background-color:transparent;height:700px;">
    <about>
        <h1>Telegram weather bot</h1>
        <p><b>Python</b> - Bot is written in Python 3.6</p>
        <p><b><a href="https://github.com/python-telegram-bot/python-telegram-bot/">python-telegram-bot</a></b> - Telegram BOT API wrapper</p>
        <p><b><a href="http://t.me/telegaweatherbot/">Openweathermap</a></b> - Сurrent weather and forecast</p>
        <p><b><a href="https://openweathermap.org/">GeoNames</a></b> - Geographical database to provide list of locations</p>
        <p>Leave a <a href="/feedback/">comment</a> or mail me <b>amid.vonavi</b> [at] <b>.gmail.com</b></p>
    </about>
</div>

{% endblock content %}